@use "presets/skins" as *;
@use "presets/variables" as *;
@use "presets/typography" as *;

* {
  box-sizing: border-box;
}

a {
  display: block;
}

.col {
  padding: 0;
}

.header {
  padding: 0 12px;
  min-height: 50px;

  @media (max-width:577px) {
    padding: 0px;
  }
}

.navbar-brand {
  text-align: center;
}

.section {
  background-color: $color-light;
  padding: 20px 0;
}

.main__center {
  display: flex;
  align-items: center;
  padding: 10px 12px;
}

.main__left {
  display: flex;
  align-items: center;
  padding: 10px 12px;
}

.main__right {
  display: flex;
  justify-content: center;
  padding: 10px 12px;
  align-items: stretch;
  width: 100%;

  &-inner {
    background-color: aliceblue;
    border-radius: 20px;
    padding: 10px;
    width: 100%;

    @media (max-width: 1400px) {
      text-align: center
    }
  }

  &-caption {
    color: #666060;
  }

  &-link {
    color: #a08a8a;
  }

  &-link:hover {
    cursor: pointer;
    color: rgb(237, 150, 36);
  }
}

.gradient-1 {
  height: 50px;
  background: rgb(255, 255, 255);
  background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(160, 138, 138, 1) 76%);
}

.section-two {
  background-color: #a08a8a;

  &__inner {
    display: flex;
    min-height: 155px;
    justify-content: space-evenly;
    align-items: center;
  }
}

.text-advert {
  max-width: 300px;
}

.gradient-2 {
  height: 50px;
  background: rgb(160, 138, 138);
  background: linear-gradient(180deg, rgba(160, 138, 138, 1) 0%, rgba(13, 110, 253, 1) 76%);
}

.footer {

  &__inner {
    display: flex;
    align-items: center;
    background-color: $color-primary;
    min-height: 200px;
  }

  &__brand-name {
    color: #ffffff;
    font-size: 30px;
    font-weight: 500;
  }

  &__contacts {
    display: flex;
    gap: 10px;
    align-items: center;
  }

  &__contacts-link {
    color: #ffffff;
  }
}

.contact-text {
  display: flex;
  justify-content: space-around;
  color: $color-light;
}