* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: aliceblue;
}

.header,
.footer {
  min-height: 50px;
  padding: 0 12px;
}

.col {
  padding: 0;
}

.main__center {
  -ms-flex-line-pack: center;
  align-content: center;

  min-height: calc(100vh - 116px);
  padding: 0 12px;

  background-color: black;
}

.main__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-align: center;

  min-height: calc(100vh - 116px);
  padding: 30px 12px;

  background-color: burlywood;
}

.main__right {
  -ms-flex-line-pack: center;
  align-content: center;

  min-height: calc(100vh - 116px);
  padding: 30px 12px;

  background-color: yellow;
}
