* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: aliceblue;
}

.header {
  min-height: 50px;
  margin-bottom: 15px;
  padding: 0 12px;
}

.navbar-brand {
  text-align: center;
}

.col {
  padding: 0;
}

.main__center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-align: center;

  min-height: calc(100vh - 116px);
  padding: 0 12px;
}

.main__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-align: center;

  min-height: calc(100vh - 116px);
  padding: 0 12px;
}

.main__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -ms-flex-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  min-height: calc(100vh - 116px);
  padding: 0 12px;
}

.footer {
  padding: 60px 12px 20px;
}

.footer__copy {
  padding: 10px 0;

  background-color: #0d6efd;
}

.copy-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;

  color: #ffffff;
}
